.layout {
    width: 100%;
    max-width: 1024px;
    height: 100vh;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.layout .header {
    border-right: none;
    font-size: 30px;
    height: 70px;
}

.layout .headerAuthorization {
    border-left: none;
    vertical-align: middle;
}

.footer {
    text-align: center;
    height: 50px;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 20px;
}

a, a:visited {
    color: darkgreen;
}

.my-comment-amount {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 700;
    margin-top: 40px;
}

.my-comments-list {
    list-style-type: none;
    padding: 0;
}

.my-comment-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #909090;
    margin-bottom: 6px;
}

.my-comment-input:focus {
    outline: none;
    border-bottom: 2px solid #000
}

.my-comment-date {
    font-size: smaller;
}

.formAuthorization {
    margin: auto;
    border-collapse: collapse;
}

.formAuthorization tr td {
    padding: 5px;
    border: none;
}
